/*
* Inter iOS Fallback - Weight: 400, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-iOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 101.74%;
    descent-override: normal;
    size-adjust: 89.9%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: normal;
}

/*
* Inter iOS Fallback - Weight: 400, Style: italic
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-iOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 101.74%;
    descent-override: normal;
    size-adjust: 103.04%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: italic;
}

/*
* Inter iOS Fallback - Weight: 700, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-iOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 101.74%;
    descent-override: normal;
    size-adjust: 94.78%;
    line-gap-override: normal;
    font-weight: 700;
    font-style: normal;
}


/*
* Inter android Fallback - Weight: 400, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-android-Fallback';
    src: local('Noto Sans Light'), local('NotoSans-Light');
    ascent-override: 90.62%;
    descent-override: 82.32%;
    size-adjust: 101.55%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: normal;
}

/*
* Inter android Fallback - Weight: 400, Style: italic
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-android-Fallback';
    src: local('Noto Sans Light'), local('NotoSans-Light');
    ascent-override: 90.62%;
    descent-override: 82.32%;
    size-adjust: 101.95%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: italic;
}

/*
* Inter android Fallback - Weight: 700, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-android-Fallback';
    src: local('Noto Sans Light'), local('NotoSans-Light');
    ascent-override: 90.62%;
    descent-override: 82.32%;
    size-adjust: 96.04%;
    line-gap-override: normal;
    font-weight: 700;
    font-style: normal;
}


/*
* Inter windows Fallback - Weight: 400, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-windows-Fallback';
    src: local('Segoe UI'), local('SegoeUI');
    ascent-override: 133.07%;
    descent-override: 114.62%;
    size-adjust: 103.52%;
    line-gap-override: 0%;
    font-weight: 400;
    font-style: normal;
}

/*
* Inter windows Fallback - Weight: 400, Style: italic
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-windows-Fallback';
    src: local('Segoe UI'), local('SegoeUI');
    ascent-override: 126.69%;
    descent-override: 116.78%;
    size-adjust: 98.57%;
    line-gap-override: 0%;
    font-weight: 400;
    font-style: italic;
}

/*
* Inter windows Fallback - Weight: 700, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-windows-Fallback';
    src: local('Segoe UI'), local('SegoeUI');
    ascent-override: 133.07%;
    descent-override: 114.62%;
    size-adjust: 104.04%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}


/*
* Inter macOS Fallback - Weight: 400, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-macOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 101.74%;
    descent-override: normal;
    size-adjust: 89.9%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: normal;
}

/*
* Inter macOS Fallback - Weight: 400, Style: italic
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-macOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 101.74%;
    descent-override: normal;
    size-adjust: 103.04%;
    line-gap-override: normal;
    font-weight: 400;
    font-style: italic;
}

/*
* Inter macOS Fallback - Weight: 700, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-macOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 129.17%;
    descent-override: 141.95%;
    size-adjust: 94.56%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}


/*
* Inter linux Fallback - Weight: 400, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-linux-Fallback';
    src: local('Ubuntu Light'), local('Ubuntu-Light');
    ascent-override: 124.84%;
    descent-override: 130.38%;
    size-adjust: 94.65%;
    line-gap-override: 0%;
    font-weight: 400;
    font-style: normal;
}

/*
* Inter linux Fallback - Weight: 400, Style: italic
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-linux-Fallback';
    src: local('Ubuntu Light'), local('Ubuntu-Light');
    ascent-override: 124.84%;
    descent-override: 130.38%;
    size-adjust: 95.03%;
    line-gap-override: 0%;
    font-weight: 400;
    font-style: italic;
}

/*
* Inter linux Fallback - Weight: 700, Style: normal
* Subsets: cyrillic-ext, cyrillic, greek-ext, greek, vietnamese, latin-ext, latin
*/
@font-face {
    font-family: 'Inter-linux-Fallback';
    src: local('Ubuntu Light'), local('Ubuntu-Light');
    ascent-override: 133.07%;
    descent-override: 114.62%;
    size-adjust: 97%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}

/*
* Mozilla Headline iOS Fallback - Weight: 700, Style: normal
* Subsets: latin-ext, latin
*/
@font-face {
    font-family: 'Mozilla Headline-iOS-Fallback';
    src: local('SF Pro Display'), local('SFProDisplay-Black');
    ascent-override: 99.25%;
    descent-override: 105.72%;
    size-adjust: 85.62%;
    line-gap-override: normal;
    font-weight: 700;
    font-style: normal;
}


/*
* Mozilla Headline android Fallback - Weight: 700, Style: normal
* Subsets: latin-ext, latin
*/
@font-face {
    font-family: 'Mozilla Headline-android-Fallback';
    src: local('Roboto'), local('Roboto-Bold');
    ascent-override: 126%;
    descent-override: 102%;
    size-adjust: 92.23%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}


/*
* Mozilla Headline windows Fallback - Weight: 700, Style: normal
* Subsets: latin-ext, latin
*/
@font-face {
    font-family: 'Mozilla Headline-windows-Fallback';
    src: local('Tahoma'), local('Tahoma-Bold');
    ascent-override: 123.59%;
    descent-override: 123.46%;
    size-adjust: 104.96%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}


/*
* Mozilla Headline macOS Fallback - Weight: 700, Style: normal
* Subsets: latin-ext, latin
*/
@font-face {
    font-family: 'Mozilla Headline-macOS-Fallback';
    src: local('Helvetica'), local('Helvetica-Bold');
    ascent-override: 126%;
    descent-override: 150.07%;
    size-adjust: 85.42%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}


/*
* Mozilla Headline linux Fallback - Weight: 700, Style: normal
* Subsets: latin-ext, latin
*/
@font-face {
    font-family: 'Mozilla Headline-linux-Fallback';
    src: local('Tahoma'), local('Tahoma-Bold');
    ascent-override: 123.59%;
    descent-override: 123.46%;
    size-adjust: 104.96%;
    line-gap-override: 0%;
    font-weight: 700;
    font-style: normal;
}

/*
* Main font: Inter-Regular
*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+1F00-1FFF, U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF, U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB, U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
* Main font: Inter-Italic
*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter-Italic.ttf') format('truetype');
    font-display: swap;
    font-weight: 0;
    font-style: italic;
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+1F00-1FFF, U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF, U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB, U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
* Main font: Inter-Bold
*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+1F00-1FFF, U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF, U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB, U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
* Main font: MozillaHeadline-Bold
*/
@font-face {
    font-family: 'Mozilla Headline';
    src: url('../fonts/MozillaHeadline-Bold.woff2') format('woff2'),
    url('../fonts/MozillaHeadline-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


